numpy>=1.18
scipy>=1.4
scikit-image>=0.16
scikit-learn>=0.22
cudatoolkit>=10.2
torch>=1.6
torchvision>=0.7
tensorboard>=2.3
zlib>=1.2
libspatialindex>=1.9
shapely>=1.7
rtree>=0.9
trimesh>=3.5
tqdm>=4.43
networkx~=2.5
sage~=9.2
matplotlib~=3.3.4
colorlog~=4.7.2
pyglet~=1.5.15